<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button auto-hide="false" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Goods Issue</ion-title>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <!-- <ion-button color="danger"> -->
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="secondary">
    <div style="margin-left: 5%; margin-right: 5%; ">
      <ion-item>
        <ion-label> Date</ion-label>
        <ion-datetime value="2022-01-01" placeholder="Select Date"></ion-datetime>
      </ion-item>
    </div>
  </ion-toolbar>

</ion-header>


<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <div class="bottom-section">
    <ion-button class="record-btn" color={{color1}} (click)="pending()">Pending</ion-button>
    <ion-button class="record-btn" color={{color2}} (click)="all()">All</ion-button>
    <ion-button class="record-btn" color={{color3}} (click)="counted()">Counted</ion-button>
  </div> -->

  <ion-list id="pending" style="display: none;">
    <app-goods-issue-task *ngFor="let message of pendingData" [message]="message"></app-goods-issue-task>
  </ion-list>

  <div id="all" style="display: none;">
    <ion-item *ngFor="let ad of allData" [detail]="false">
      <!-- <ion-item *ngIf="message" [detail]="false"> -->
      <div slot="start" [class]="!ad.read ? 'dot dot-unread' : 'dot'"></div>
      <ion-label class="ion-text-wrap">
        <h2>
          {{ ad.phyInvDoc }}
          <span class="date">
            <ion-note>{{ ad.time }}</ion-note>
            <ion-icon name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon>
          </span>
        </h2>
        <h3>{{ ad.date }}</h3>
        <!-- <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p> -->
      </ion-label>
    </ion-item>
  </div>

  <!-- <ion-buttons slot="end">
    <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
      <ion-icon name="options"></ion-icon>
    </ion-button>
  </ion-buttons> -->
</ion-content>

<!-- <ion-footer>
  <ion-toolbar color="secondary">

  </ion-toolbar>
</ion-footer> -->